//theme colors
$primary: #e4c1ae;
$secondary: #c7a694;
$dark: #121212;
$white: #fff;
$overlay: rgba(18, 18, 18, 0.5);

//fonts
$primary-font: "Roboto", sans-serif;
$primary-font-size: 16px;
$bold: 700;
$normal: 300;
