@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import 'mixins';
@import 'variables';
@import 'modalOverlay';
@import 'mediaQueries';

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: $primary-font;
    font-size: $primary-font-size;
}

//text styles
h1 {
    font-weight: $bold;
    font-size: 2.5rem;
}

p {
    font-weight: $normal;
    font-size: 1rem;
    line-height: 1.5rem;
}

//buttons
.show-modal,
.reset-counter {
    @include primaryButton;
}

.reset-counter {
    @include secondaryButton;
}

.show-modal:hover,
.reset-counter:hover {
    cursor: pointer;
    background: $secondary;
}

.container {
    max-width: 90rem;
    margin: 0 auto;

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .img {
            max-width: 31rem;
            img {
                max-width: 100%;
            }
        }

        //content of hero
        .content {
            max-width: 23rem;
            padding: 0.5rem;
            > * {
                display: block;
                margin: 1.8rem 0;
            }
        }
    }
}

.hidden {
    display: none;
}
